/* CORES */

:root {
  --rosa-escuro: mediumvioletred;
  --rosa-claro: #f2d0e0;
  --sombra-do-card: darkgray;
}

/* Estilos Gerais */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Estilo header */

header {
  background-color: var(--rosa-escuro);
}

.header-container {
  display: flex;
  padding: 20px 16px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-container img {
  width: 32px;
}

.header-container div {
  display: flex;
}

#header-logo-nome {
  gap: 20px;
  align-items: center;
}

#header-botao {
  padding: 4px 16px;
  border: 1px solid var(--rosa-claro);
  border-radius: 4px;
}

#header-botao:hover {
  background-color: var(--rosa-claro);
}

/* Estilo conteúdo principal */

main {
  display: flex;
}

nav img {
  width: 24px;
}

nav {
  flex-grow: 1;
  padding-top: 20px;
  height: 100vh;
  background-color: var(--rosa-claro);
}

.navegacao-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-transform: uppercase;
  padding: 8px;
}

.bolos {
  display: flex;
  flex-wrap: wrap;
  flex: 10;
  gap: 20px;
  padding: 30px;
}

.bolos img {
  width: 200px;
  border-radius: 4px;
}

.bolo-com-texto {
  width: 200px;
  text-align: center;
  box-shadow: 1px 1px 5px var(--sombra-do-card);
}

footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--rosa-escuro);
  width: 100%;
}

footer p {
  font-weight: bold;
}
